[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
pymupdf = "*"
langchain-nvidia-ai-endpoints = "*"
beautifulsoup4 = "*"
langchain-community = "*"
langchain-core = "*"
requests = "*"
faiss-gpu = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.10"
